<div class="blog-container">
  <% blogs.forEach((blog)=>{ %>
  <div class="blog">
    <h1><%= blog.title %></h1>
    <p class="date"><%= blog.date %></p>
    <button class="tag"><%= blog.tag %></button>
    <p><%= blog.content %></p>
    <form action="/<%= blog.tag.toLowerCase() %>" method="POST">
      <button type="submit" class="read">Read more</button>
    </form>
  </div>
  <% }); %>
</div>
